<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}
<ul>
  <li><a href='/addalb'>View and Add Albums</a></li>
  <li><a href='/addfr'>View and Add Friends</a></li>
  <li><a href='/upload'>Upload a photo</a> </li>
  <li><a href='/logout'>Logout</a></li>
  <li><a href='/'>Home</a></li>
  </ul>
{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
          <form method="post" enctype="multipart/form-data" action="/inspect">
            <input type="hidden" name="action" value="no" />
            <button name="pho" type="submit" value={{photo[1]}}>Press</button>
        </form>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'width = 700 height= 300/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}


='/'>Home</a></li>
</ul>
