<!-- author ben lawson balawson@bu.edu -->
<!DOCTYPE html>
<html>
    <head>
        <title>Search photos by tags!</title>
    </head>
    <body>
        <div class="title">
            <h1>Search photos by tags!</h1>
        </div>

        <li>Go <a href='/'>Home?</a></li>
        <li>Go to <a href='/profile'>profile?</a></li>
        <br>

        <form method="post" action="/search_tags">
            <label for="tag">Search tag:</label>
            <input type="text" name="tag" required='true' /><br />
            <input type="submit" value="Search" />
        </form>

        {% if photos %}
        <h2>Here are your photos</h2>
            <ul>
            {% for photo in photos %}
                    <input type="hidden" name="action" value="no" />
                    <button name="pho" type="submit" value={{photo[1]}}>Press</button>
                </form>
                <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
            {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
